body{
}
h1{
    position: relative;
    left: 20px
}
.calculator{
    position: absolute;
    width: 500px;
    height: 680px;
    left: 450px;
    background-color: rgb(174, 171, 171);
    opacity: 0.5;
    border-radius: 10px;
}
.key-pad{
    position: relative;
    width: 430px;
    height: 500px ;
    left: 35px;
    top: -5px;
    background-color: rgb(108, 102, 102);
}
.result-box{
    position: relative;
    width: 480px;
    height: 80px;
    top: -15px;
    left: 10px;
    background-color: black;
    opacity: 1;
    border-radius: 10px;
}
.key-button{
    
}